:root{
    --branco-principal: #FFFFFF;
    --cinza-sec: #C0C0C0;
    --botao-azul: #167BF7;
    --background-cor: #00030C;
    --fonte-principal: "Inter";
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-cor);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

main{
    background-image: url(assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
}

.container_titulo{
    font-size: 28px;
    font-weight: 700;
}

.container_botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.botao_sec{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container_aviso{
    font-size: 12px;
    color: var(--cinza-sec);
}

.container_img{
    margin: 1em 0 2em 0;
}

.container_caixa{
    margin: 0 3em;
}


.sec{
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 10em;
}

.sec_img{
    width: 80%;
}


.desc_titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.container_desc{
    color: var(--cinza-sec);
    padding: 2em;
}

.ter_botao{
    display: inline-block;
    margin-top: 1em;
}

